<form method="POST" action="/account/calendar">

    <label for="monday">Monday</label>
    <input type="text" name="monday">

    <label for="tuesday">Tuesday</label>
    <input type="text" name="tuesday">

    <label for="wednesday">Wednesday</label>
    <input type="text" name="wednesday">

    <label for="thursday">Thursday</label>
    <input type="text" name="thursday">

    <label for="friday">Friday</label>
    <input type="text" name="friday">

    <label for="saturday">Saturday</label>
    <input type="text" name="saturday">

    <label for="sunday">Sunday</label>
    <input type="text" name="sunday">


    <input type="submit">
  </form>