<h2>Homepage</h2>
<a href="/schedule"></a>
<!-- thiss will beee my home page -->

<form action="http://localhost:3000/profile">
    <button type="submit">profile</button>
</form>

<!-- link to the schdule -->
<form action="http://localhost:3000/schedules">
    <button type="submit">schedule</button>
</form>
<!-- link to message -->

<!-- link to char creation -->
<form action="http://localhost:3000/characters">
    <button type="submit">characters</button>
    <form>

<!-- form redirect -->